<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.edu.iyte.irl.irl" >

    <permission
        android:name="tr.edu.iyte.irl.irl.Fragments.TransportFragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tr.edu.iyte.irl.irl.Fragments.TransportFragment.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="tr.edu.iyte.irl.irl.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- TODO: add logo mipmap, change app name, add map for directions -->
    <!-- TODO: fix contact activity, add strings -->
    <application
        android:name=".Utility.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".Network.MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="tr.edu.iyte.irl.irl" />
            </intent-filter>
        </receiver>

        <service android:name=".Network.MSGService" />

        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".CategoryDetailsActivity"
            android:label="@string/title_activity_rules" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCR65SCw55i_u43KfzVCilOUbax5iRmml0" />

        <activity
            android:name=".ScanResultActivity"
            android:label="@string/title_activity_scan_result" />
        <activity
            android:name=".QrNumber"
            android:label="@string/title_activity_qr_number"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
